<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637792997299-0ahcokf8252sik3nf91c04e4dk55m8cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637792997299-0ahcokf8252sik3nf91c04e4dk55m8cl</string>
	<key>API_KEY</key>
	<string>AIzaSyDMIeYgR0nUrwpNv1wtVzy6_XNGBWnMi78</string>
	<key>GCM_SENDER_ID</key>
	<string>637792997299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>terrybu.Reward-Streaks</string>
	<key>PROJECT_ID</key>
	<string>reward-streaks-1560802850642</string>
	<key>STORAGE_BUCKET</key>
	<string>reward-streaks-1560802850642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637792997299:ios:53c701136f0ccab5</string>
	<key>DATABASE_URL</key>
	<string>https://reward-streaks-1560802850642.firebaseio.com</string>
</dict>
</plist>